<div class="unknownPadding"></div>

<div class="container">
  <div class="text">
    <h1>Face Recognition Attendance Sytem</h1>
    <p>
      This system is based on artificial intelligence (AI), which is capable of
      accurately detecting each person's face. The purpose of this method is to
      make the daily check-in and check-out process easier and less time
      consuming. All data will be properly saved in a centralised database once
      this system is in place.
    </p>
    <p>
      As a result, companies do not need to be concerned about data loss or
      corruption. This system is also integrated with the dashboard system,
      which manages all of the data collected by this system. Furthermore,
      management services and human resources departments can swiftly and simply
      give staff attendance reports.
    </p>
    <h2>How does it work ?</h2>
    <ul>
      <li>
        The camera will remain open to detect the employee's face in real time
        when someone enters the camera's range.
      </li>
      <li>
        The system will then record employee attendance according to time
        settings (office attendance policy) and send the data to the server.
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="./assets/img/facialRecognition.jpg" alt="..." />
  </div>
</div>

<div class="subContainer">
  <div class="features">
    <h2>Project Function</h2>
    <h3>Face Detection Module</h3>
    <ul>
      <li>Detect multiple faces in real-time</li>
      <li>
        Records the arrival and exit time settings based on the time setting
      </li>
    </ul>
    <h3>Arrival Management Module</h3>
    <ul>
      <li>Employee attendance display in real-time</li>
      <li>Update attendance data as well as office entry and exit</li>
      <li>Provide attendance reports</li>
      <li>Manage all settings</li>
    </ul>
  </div>

  <div class="features">
    <h2>Benefits</h2>
    <ul>
      <li>
        Employee attendance can be simply recorded in real-time without the need
        for contact.
      </li>
      <li>
        Reduce the use of paper and save time throughout the check-in and
        check-out procedure.
      </li>
      <li>
        All data should be stored in a centralised database, which is more
        systematic and prevents data loss.
      </li>
      <li>Keep track of attendance at numerous selected locations.</li>
      <li>The system allows you to track staff attendance in real time.</li>
      <li>Quickly and simply generate staff attendance reports.</li>
    </ul>
  </div>
</div>
