<div class="unknownPadding"></div>
<div class="container">
  <div class="text">
    <h1>NFC Business Card</h1>
    <p>
      An NFC (Near Field Communication) business card is a modern and
      technologically advanced version of a traditional business card. Instead
      of relying solely on printed information, an NFC business card allows for
      wireless communication with compatible devices.
    </p>
    <p>
      NFC card offers a blend of traditional networking practices with the
      advantages of digital technology, making it easier for individuals to
      share and receive information in a quick and efficient manner.
    </p>

    <h2>How does it work ?</h2>
    <ul>
      <li>Provide Information</li>
      <p>
        Users only need to prepare necessary information and links about
        themselves and their businesses.
      </p>
      <li>Store data in the card</li>
      <p>
        The acquired data is posted to a website and subsequently saved to a
        link on the NFC card.
      </p>
      <li>Scan the card with your phone.</li>
      <p>
        To access the information included in an NFC card, scan it with a
        smartphone or use the Quick Response Code (QR Code) supplied on the back
        card.
      </p>
    </ul>
  </div>
  <div class="image">
    <img src="./assets/img/nfcCard-1.png" alt="..." />
  </div>
</div>

<div class="subContainer">
  <div class="features">
    <h2>Main Features</h2>
    <h4>Data Storage</h4>
    <p>
      Data is stored in the card using Near-Field Communication (NFC)
      technology, which allows users to just tap the card on a smartphone or
      other compatible equipment. A QR code will also be provided for users who
      do not have NFC.
    </p>
    <h4>Data Safety</h4>
    <p>
      The NFC card's data security technology makes it difficult for third
      parties to modify the data without the user's authorization.
    </p>
  </div>

  <div class="features">
    <h2>Advantages of NFC business cards</h2>
    <ul>
      <li>Information exchange is quick and simple.</li>
      <li>Eco-friendly</li>
      <li>NFC data security is guaranteed.</li>
      <li>QR code support for non-NFC users</li>
      <li>Flexibility</li>
    </ul>
  </div>
</div>
