<div class="unknownPadding"></div>

<div class="container">
  <div class="text">
    <h1>Social Media Sentiment Analytics</h1>
    <p>
      Sentiment analysis is created by using approaches from data science and
      artificial intelligence (AI) technology to deliver responses to people's
      opinions on specific commercial products and services. Sentiment analytics
      seeks to analyse and comprehend emotional sentiments and emotions conveyed
      through social media, consumer feedback, or customer surveys.
    </p>
    <p>
      Sentiment analytics is mostly used for customer experience management,
      reputation management, brand management, market research, and competitive
      analysis.
    </p>

    <h2>How does it work ?</h2>
    <p>
      This Sentiment Analytics works with data from social media to analyse and
      understand (insights).
    </p>
    <img src="./assets/img/process.png" alt="..." />
    <p>
      Data will be collected from social media and analysed automatically by the
      system.
    </p>
    <p>
      Customers' and the general public's thoughts, discoveries, feelings, and
      suggestions will be compiled into insight reports.
    </p>
  </div>
  <div class="image">
    <img src="./assets/img/Social media.png" alt="..." />
  </div>
</div>

<div class="subContainer">
  <div class="features">
    <h2>Features</h2>

    <h3>Sentiment</h3>
    <p>
      A visual display will demonstrate the public's attitude towards a product
      or service, whether positive, negative, or neutral.
    </p>
    <h3>Emotion</h3>
    <p>
      The emotional visual display displays people's feelings towards a service
      or product, whether they are happy, furious, or sad.
    </p>
    <h3>Recommendations</h3>
    <p>
      A sentiment analytics visual display shows people's recommendations based
      on data collecting.
    </p>
  </div>

  <div class="features">
    <h2>Benefits</h2>
    <ul>
      <li>
        Empowering organisations to understand client needs and sentiments,
        maintain competition, and make data-driven decisions.
      </li>
      <li>
        Give the business an understanding (insights) about the business
        position, then help in making more accurate business decisions.
      </li>
      <li>
        Manage business reputation by using sentiment and emotion surveys
        offered by customers on social media.
      </li>
      <li>
        Analysis of business competitiveness through direct comparison of data
        and feedback offered by own and competitor consumers.
      </li>
      <li>
        Determine the extent to which customer perceptions connect to brand and
        product strengths and aid in the development of effective marketing
        initiatives.
      </li>
      <li>
        Help organisations track and manage unanticipated crises through
        customer reactions, as well as knowing the extent to which customers
        have moved on to other issues after the crisis in a particular length of
        time.
      </li>
    </ul>
  </div>
</div>
