<div class="unknown"></div>

<div class="news">
  <div class="container">
    <div class="header">
      <h1>Terengganu Hasrat Jadi Model Kerajaan Digital Pintar – MB</h1>
      <h3>by admin | May 29, 2021</h3>
    </div>

    <div class="content-2">
      <p>
        KUALA TERENGGANU, 28 Oktober – Kerajaan negeri berhasrat untuk menjadi
        kerajaan digital pintar yang praktikal dan mampan menjelang 2030 sebagai
        persediaan memasuki era Revolusi Industri 4.0 (IR 4.0).
      </p>
      <p>
        Usaha mencapai hasrat tersebut dibuktikan dengan Terengganu selangkah ke
        hadapan menyediakan dan melancarkan Pelan Induk Kerajaan Digital Pintar
        Terengganu dan Pelan Strategik Taman Maya AI (AI-Artificial
        Intelligence) Terengganu, hari ini.
      </p>
      <p>
        Menteri Besar, Dato’ Seri Dr Ahmad Samsuri Mokhtar berkata, mereka yakin
        ini dapat dicapai dengan Pelan Induk Kerajaan Digital Pintar Terengganu
        yang berasaskan teknologi kepintaran buatan (AI) dan merangkumi 13
        strategi pembangunan.
      </p>
    </div>

    <div class="content-1">
      <img src="./assets/img/Picture12.jpg" />
    </div>

    <div class="content-2">
      <p>
        “Bagi menggerakkan Pelan Induk Kerajaan Digital Pintar Terengganu,
        kerajaan negeri juga telah menubuhkan Terengganu Advance Joint Digital
        Intelligent Developement Corporation (TAJDID Corporation Sdn Bhd).
      </p>
      <p>
        “Ia akan memfokuskan kepada Agenda Pendigitalan Negeri Terengganu dan
        Taman AI dengan membuat penyelarasan semula fungsi-fungsi
        syarikat-syarikat ICT kerajaan negeri yang sedia ada supaya
        syarikat-syarikat tersebut lebih berdaya saing,” katanya pada majlis
        pelancaran pelan tersebut di sini.
      </p>
      <p>
        Hadir sama dalam majlis tersebut, Yang Dipertua Dewan Undangan Negeri
        (DUN), Dato’ Yahaya Ali, Setiausaha Kerajaan Negeri, Dato’ Mohd Zahari
        Md Azahar, Pegawai Kewangan Negeri, Dato’ Zainal Abidin Hussin,
        Pengerusi Jawatankuasa Pelancongan, Kebudayaan dan Teknologi Digital
        negeri, Ariffin Deraman dan Exco-exco Kerajaan Negeri.
      </p>
    </div>

    <div class="content-1">
      <img src="./assets/img/Picture2.jpg" />
    </div>

    <div class="content-2">
      <p>
        Sementara itu, menurut Ariffin, sebagai permulaan, beberapa kamera litar
        tertutup pintar (CCTV pintar) dan lampu isyarat pintar yang mempunyai
        ciri digital yang lebih canggih akan ditempatkan di lokasi terpilih
        tahun hadapan.
      </p>
      <p>
        “Kami telah menguji dan menempatkan CCTV pintar di Masjid Pengadang Baru
        sebagai projek perintis. Kelebihan CCTV pintar ini adalah dapat
        memberikan gambaran yang sangat jelas bagi pengunjung sehingga berupaya
        mengenal pasti wajah, jantina dan usia yang dianggarkan.
      </p>
      <p>
        “Bagi lampu isyarat pintar, ia akan dipasang di persimpangan Masjid
        Tengku Tengah Zaharah, Kuala Ibai sebagai projek perintis tahun
        hadapan,” ujarnya.
      </p>
    </div>

    <!-- button -->
    <div class="button-1">
      <a
        href="https://www.trdi.my/terengganu-hasrat-jadi-model-kerajaan-digital-pintar-mb"
        target="_blank"
        >Read full article <i class="bi bi-arrow-right"></i
      ></a>
    </div>
  </div>
  <!-- sidebar -->
  <div class="other_news">
    <app-sidebar></app-sidebar>
  </div>
</div>
