<!-- sidebar -->
<div class="other_news">
  <!-- news 1 -->
  <a routerLink="../news1">
    <div class="sub-content">
      <div class="image-1">
        <img src="./assets/img/Picture4.jpg" />
      </div>
      <div class="text">
        <h1>
          Pelan Induk Kerajaan Digital Pintar Terengganu & Pelan Strategik Taman
          Maya Al Terengganu
        </h1>
        <h3>by admin | May 29, 2021</h3>
      </div>
    </div>
  </a>
  <!-- news 2 -->
  <a routerLink="../news2">
    <div class="sub-content">
      <div class="image-1">
        <img src="./assets/img/Picture3.jpg" />
      </div>
      <div class="text">
        <h1>
          Pelan Induk Kerajaan Digital Pintar Terengganu,bakal semarakkan
          pertumbuhan ekonomi negeri
        </h1>
        <h3>by admin | May 29, 2021</h3>
      </div>
    </div>
  </a>

  <!-- news 3 -->
  <a routerLink="../news3">
    <div class="sub-content">
      <div class="image-1">
        <img src="./assets/img/Picture2.jpg" />
      </div>
      <div class="text">
        <h1>Terengganu Hasrat Jadi Model Kerajaan Digital Pintar – MB</h1>
        <h3>by admin | May 29, 2021</h3>
      </div>
    </div>
  </a>
  <!-- news 4 -->
  <a routerLink="../news4">
    <div class="sub-content">
      <div class="image-1">
        <img src="./assets/img/Picture1.jpg" />
      </div>
      <div class="text">
        <h1>
          Kunjungan Hormat Yang Berusaha Hj. Mohd Nurkhuzaini bin Ab. Rahman ke
          TAJDID Corp. Sdn Bhd
        </h1>
        <h3>by admin | Sep 6, 2023</h3>
      </div>
    </div>
  </a>
  <!-- news 5 -->
  <a routerLink="../news5">
    <div class="sub-content">
      <div class="image-1">
        <img src="./assets/img/Picture10.jpeg" />
      </div>
      <div class="text">
        <h1>
          Kunjungan Hormat Yayasan Pembangunan Usahawan Terengganu ke TAJDID
          Corporation.
        </h1>
        <h3>by admin | Oct 8, 2023</h3>
      </div>
    </div>
  </a>
</div>
