<div class="unknownPadding"></div>

<div class="container">
  <div class="text">
    <h1>Islamic Digital Leadership Development Training</h1>
    <p>
      TAJDID provides an Islamic Digital Leadership Development course with the
      goal of establishing a competitive state based on digital innovation while
      simultaneously constructing a sustainable digital society.
    </p>
    <h2>Objectives :</h2>
    <ul>
      <li>
        To change the mindset of people from thinking like ordinary people to
        becoming extraordinary leaders at all levels.
      </li>
      <li>Strengthen the existing leadership.</li>
      <li>
        Develop digital leadership that applies digital usage at both
        organizational and individual levels.
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="./assets/img/userServices-5.jpg" alt="..." />
  </div>
</div>

<div class="subContainer">
  <div class="features">
    <h2>Programme Features</h2>
    <ul>
      <li>Contains six structured modules</li>
      <li>
        Based on Islamic leadership values, leadership philosophy, and digital
        innovation
      </li>
      <li>Complete with group training</li>
      <li>Evaluate the level of leadership development achievement</li>
    </ul>
  </div>

  <div class="features">
    <h2>Advantages to Society and Organisations</h2>
    <p>
      Increase the competitiveness of local entrepreneurs and society in the
      digital economy.
    </p>
    <p>Developing a qualified workforce (insan) for digital leadership</p>
    <p>
      Making local communities more capable of dealing with the problems of
      environmental change brought about by disruptive technologies (IR 4.0).
    </p>
  </div>
</div>
