<div class="unknown"></div>

<div class="news">
  <div class="container">
    <div class="header">
      <h1>
        Kunjungan Hormat Yayasan Pembangunan Usahawan Terengganu ke TAJDID
        Corporation.
      </h1>
      <h3>by admin | Oct 8, 2023</h3>
    </div>
    <div class="content-2">
      <p>
        Kuala Terengganu, 12 September 2023 – Engku Mohd Hairulnizam Tuan Ahmad,
        Pengurus Pembangunan Usahawan Negeri Terengganu telah menjalankan
        kunjungan hormat ke TAJDID Corporation Sdn Bhd pada hari Isnin (12
        September 2023).
      </p>
    </div>
    <div class="content-1">
      <img src="./assets/img/Picture10.jpeg" />
    </div>
    <div class="content-2">
      <p>
        Kunjungan hormat ini bertujuan membincangkan potensi kerjasama dua hala
        di antara pihak Yayasan Pembangunan Usahawan Terengganu (YPU) dan
        Terengganu Advanced Joint Digital Intelligent Development (TAJDID).
        Perbincangan adalah bertumpu kepada perancangan-perancangan inovasi
        digital dan pembangunan bakat teknologi yang melibatkan usahawan
        tempatan di bumi Terengganu.
      </p>
    </div>
    <div class="content-1">
      <img src="./assets/img/Picture11.jpeg" />
    </div>
    <div class="content-2">
      <p>
        Diharap usaha kerjasama ini dapat menjadi pemangkin kepada peningkatan
        kadar digitalisasi masyarakat dan usahawan tempatan, yang menyokong
        kepada pertumbuhan positif ekonomi negeri melalui Pelan Induk Terengganu
        Sejahtera, PITAS 2030.
      </p>
    </div>
  </div>
  <div class="other_news">
    <app-sidebar></app-sidebar>
  </div>
</div>
