<div class="unknownPadding"></div>

<div class="container">
  <h1>ABOUT TAJDID</h1>
  <div class="grid">
    <div class="image">
      <img src="./assets/img/Picture3.jpg" />
    </div>
    <div class="text">
      <h2>Background</h2>
      <p>
        Terengganu Advanced Joint Digital Intelligent Development (TAJDID) or
        known as TAJDID Corporation is a fully state-owned company under the
        Terengganu State Government, operating under Mentri Besar, Trengganu
        (Incorporated). TAJDID functions as the sole entity to drive economic
        growth and the development of a digital society based on digital
        technology and the Fourth Industrial Revolution (4IR).
      </p>
      <h2>Source of power</h2>
      <ul>
        <li>
          Approval of the Majlis Mesyuarat Kerajaan Negeri on July 15 2020,
          under the paper titled "Cadangan Pendigitalan Negeri Terengganu"
        </li>
        <li>
          Granted a mandate through the Persidangan Dewan Undangan Negeri
          Terengganu on August 2020
        </li>
        <li>
          Registered with the Suruhan Syarikat Malaysia (SSM) in October 2020
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- company's role -->
<div class="bg">
  <div class="container2">
    <div class="text2">
      <h2>TAJDID's role</h2>
    </div>
    <div class="grid2">
      <div class="content">
        <h3>Digitalization of the state</h3>
        <p>
          Implement and monitor the digitalization of Terengganu by focusing on
          digitalization across sectors.
        </p>
      </div>
      <div class="content">
        <h3>Economic Development and Digital Society</h3>
        <p>
          Creating a digital ecosystem based on 4IR technology to drive economic
          growth and the digital society of the State of Terengganu
        </p>
      </div>
      <div class="content">
        <h3>
          Development & monitoring of the digital master plan/framework across
          sectors
        </h3>
        <p>
          Responsible for developing and monitoring the progress of the Kemajuan
          Pelan Induk/ Rangka Tindakan across sectors
        </p>
      </div>
      <div class="content">
        <h3>Secretariat</h3>
        <p>
          Functioning as the secretariat for Majlis Rangka Tindakan Ekonomi
          Digital and Dasar 4IR Negeri Terengganu
        </p>
      </div>
    </div>
  </div>
</div>

<!--accordion -->
<div class="container">
  <div class="header">
    <h2>More Details</h2>
  </div>
  <!-- 1 -->
  <div class="accordian-heading" id="f1" (click)="accordion('f1')">
    Digitalization Ecosystem & Digital<span
      class="pull-right up-icon"
      [class.icon]="id === 'f1'"
      ><i class="bi bi-chevron-up"></i>
    </span>
  </div>
  <div class="accordian-content" *ngIf="id === 'f1'">
    <div class="grid3">
      <div class="text3">
        <h2>Digitalization Ecosystem & Digital</h2>
        <p>
          Digital transformation is not solely about technology, it is a new
          strategy and way of thinking about how to use technology to
          reconstruct the business model in order for the organisation to remain
          relevant and competitive.
        </p>
        <p>
          This smart digital state and smart people will improve people's lives
          and the state's economic growth in a more sustainable direction, as
          well as internationalise Terengganu on the global stage.
        </p>
        <p>
          The digital transformation process has a significant impact on life
          and the economy if properly planned and managed. To achieve this,
          business models and operations must be reformed in accordance with the
          capabilities of digital technology, which may gradually close the gap
          between the real and virtual worlds through the unification of people,
          processes, and devices.
        </p>
        <p>
          To realize this aspiration, several issues and challenges need to be
          addressed wisely. This is the foundation of the establishment of
          TAJDID, and it is in line with the Terengganu Smart Digital Master
          Plan.
        </p>
      </div>
      <div class="image3">
        <img src="./assets/img/mindmap-1.png" />
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="accordian-heading" id="f2" (click)="accordion('f2')">
    Terengganu's State Digitalization Agenda Framework<span
      class="pull-right up-icon"
      [class.icon]="id === 'f2'"
      ><i class="bi bi-chevron-up"></i>
    </span>
  </div>
  <div class="accordian-content" *ngIf="id === 'f2'">
    <div class="grid4">
      <div class="text4">
        <h2>Terengganu's State Digitalization Agenda Framework</h2>
        <p>
          The state digitalization agenda was proposed in order to make
          Terengganu a practical and sustainable smart digital state model to
          drive the state's economic growth through the development of digital
          specialists, digital-based products/services, and local digital
          solutions. This agenda is demonstrated by the Terengganu State
          Digitalization Framework, which comprises of three main elements:
          People, Digital Platforms, and Digital Products.
        </p>
        <p>
          Smart cities, smart villages, and other digital government components
          will use Digital Platforms based on new digital technology (emerging
          technology) to enable the People element to interact with each other
          through the use of Digital Products provided by government agencies,
          private parties, and communities.
        </p>
      </div>
      <div class="image2">
        <img src="./assets/img/mindmap-2.png" />
      </div>
    </div>
  </div>

  <!-- 3 -->
  <div class="accordian-heading" id="f3" (click)="accordion('f3')">
    Digital Terengganu Vision Framework 2030<span
      class="pull-right up-icon"
      [class.icon]="id === 'f3'"
      ><i class="bi bi-chevron-up"></i>
    </span>
  </div>
  <div class="accordian-content" *ngIf="id === 'f3'">
    <div class="grid3">
      <div class="text3">
        <h2>Digital Terengganu Vision Framework 2030</h2>
        <p>
          The success of this plan's implementation depends on the dedication of
          all parties concerned, including government agencies, commercial
          corporations, educational institutions, industry, and the community.
          Several additional related strategic plans will be used to support the
          specifics and implementation of this master plan.
        </p>
        <p>
          The confluence of the foregoing achievements and the implementation of
          these plans is projected to fulfil the objective of making the State
          of Terengganu Darul Iman a smart digital state upheld by smart people.
        </p>
        <p>
          Smart people are people who have been empowered by digital mindsets
          and skills to establish a society with moral values based on Islam
          (Masyarakat Digital 99.0).
        </p>
      </div>
      <div class="image3">
        <img src="./assets/img/mindmap-3.png" />
      </div>
    </div>
  </div>

  <!-- 4 -->
  <div class="accordian-heading" id="f3" (click)="accordion('f4')">
    Strategic Thrust<span class="pull-right up-icon" [class.icon]="id === 'f4'"
      ><i class="bi bi-chevron-up"></i>
    </span>
  </div>
  <div class="accordian-content" *ngIf="id === 'f4'">
    <div class="grid3">
      <div class="text3">
        <h2>Strategic Thrust</h2>
        <p>
          Five main strategic thrusts have been identified to assist TAJDID in
          carrying out its responsibilities as well as addressing the challenges
          arising in realising the vision and mission.
        </p>

        <ol>
          <li>Utilization of Data Intelligence & 4IR Technology</li>
          <li>Strengthening Digital, Governance & Legal Infrastructure</li>
          <li>Smart Sharing & Collaboration</li>
          <li>Development of Business Community & Digital Society</li>
          <li>Digital Product & Service Development</li>
        </ol>
      </div>
      <div class="image4">
        <img src="./assets/img/mindmap-4.png" />
      </div>
    </div>
  </div>

  <!-- 5 -->
  <div class="accordian-heading" id="f5" (click)="accordion('f5')">
    Shared Values<span class="pull-right up-icon" [class.icon]="id === 'f5'"
      ><i class="bi bi-chevron-up"></i>
    </span>
  </div>
  <div class="accordian-content" *ngIf="id === 'f5'">
    <div class="grid3">
      <div class="text3">
        <h2>Shared Values</h2>

        <ol>
          <li>Taqwa</li>
          <li>Credibility</li>
          <li>Teamwork</li>
          <li>Professional</li>
          <li>Customer-centric</li>
          <li>Exemplary Leadership</li>
        </ol>
      </div>
      <div class="image5">
        <img src="./assets/img/mindmap-5.png" />
      </div>
    </div>
  </div>
</div>
