<div class="unknown"></div>

<div class="news">
  <div class="container">
    <div class="header">
      <h1>
        Pelan Induk Kerajaan Digital Pintar Terengganu,bakal semarakkan
        pertumbuhan ekonomi negeri
      </h1>
      <h3>by admin | May 29, 2021</h3>
    </div>
    <div class="content-1">
      <img src="./assets/img/Picture3.jpg" />
      <p>October 29, 2020</p>
    </div>
    <div class="content-2">
      <p>
        Terengganu merancang untuk menjadi model kerajaan pintar menjelang 2030
        dengan pelaksanaan Pelan Induk Kerajaan Digital Pintar Terengganu
        sebagai persediaan memasuki era Revolusi Industri 4.0.
      </p>
      <p>
        Exco Pelancongan, Kebudayaan dan Teknologi Maklumat negeri, Ariffin
        Deraman berkata, Pelan Induk Kerajaan Digital Pintar Terengganu
        melibatkan peruntukan tiga juta ringgit itu bakal menyemarakkan
        pertumbuhan ekonomi negeri yang berdaya saing.
      </p>
      <p>
        Bagi menggerakkannya, kerajaan negeri telah menubuhkan Terengganu
        Advance Joint Digital Intelligent Development Corporation (TAJDID
        Corporation Sdn Bhd) yang akan memberi tumpuan kepada agenda
        pendigitalan dan Taman Maya A-I.
      </p>
      <p>
        Masjid Pengadang Baru sebagai projek perintis dilengkapi Sistem Kamera
        Litar Tertutup (CCTV) berteknologi tinggi yang mampu menentukan jantina
        dan jumlah jemaah masjid dalam satu-satu masa.
      </p>
      <p>
        Manakala projek kedua ialah Lampu Isyarat Pintar yang akan dibangunkan
        di Kuala Ibai, bulan depan.
      </p>
      <p>
        Pelancaran Pelan Induk Kerajaan Digital Pintar dan Pelan Strategik Taman
        Maya A-l Terengganu disempurnakan Menteri Besar, Datuk Seri Dr Ahmad
        Samsuri Mokhtar.
      </p>
    </div>
  </div>

  <!-- sidebar -->
  <div class="other_news">
    <app-sidebar></app-sidebar>
  </div>
</div>
