<script
  src="https://kit.fontawesome.com/1c9e873df8.js"
  crossorigin="anonymous"
></script>

<div>
  <div class="bg">
    <div class="banner">
      <div class="opacity">
        <div class="textcontainer">
          <h1>
            TAJDID Corporation<br /><br />
            SDN BHD
          </h1>
          <h2>Together We Make a Difference</h2>
          <div class="btn">
            <button routerLink="contact">CONTACT US</button>
          </div>
        </div>
      </div>
    </div>

    <!--background-->
    <div class="about-us">
      <div class="about-us-content">
        <h4>
          <span
            >Terengganu Advanced Joint Digital Intelligent Development (TAJDID) </span
          >or known as TAJDID Corporation is a fully state-owned company under
          the Terengganu State Government, operating under Mentri Besar,
          Trengganu (Incorporated). TAJDID functions as the sole entity to drive
          economic growth and the development of a digital society based on
          digital technology and the Fourth Industrial Revolution (4IR)
        </h4>
      </div>
    </div>

    <!--what we do-->
    <div class="acts-as-container">
      <div class="title">
        <h1>TAJDID serves as</h1>
      </div>
      <div class="acts-as-content">
        <div class="item-1">
          <img src="./assets/img/icon-6.png" width="100px" />
          <h4>Smart Collaboration & Sharing</h4>
          <p>
            Responsible for the implementation of Terengganu's digitalization
            agenda
          </p>
        </div>

        <div class="item-1">
          <img src="./assets/img/icon-7.png" width="90px" />
          <h4>Big Data Advisory</h4>
          <p>
            Responsible for consultation and advice services in the utilization
            of Big Data Intelligence
          </p>
        </div>

        <div class="item-1">
          <img src="./assets/img/icon-8.png" width="100px" />
          <h4>Consulting and Advisory Services</h4>
          <p>
            Responsible for the development of strategic plans and action plans
            based on digital technology and 4IR
          </p>
        </div>

        <div class="item-1">
          <img src="./assets/img/icon-9.png" width="100px" />
          <h4>Islamic Digital Leadership Development Training</h4>
          <p>Responsible for developing business community and society</p>
        </div>
      </div>
    </div>

    <!--mission&vision-->
    <div class="mission">
      <div class="mission-content">
        <div class="row">
          <div class="mission-subcontent-3">
            <img src="./assets/img/Picture6.jpg" width="700" />
          </div>

          <div class="mission-subcontent">
            <div class="mission-subcontent-1">
              <h2>Vision</h2>
              <p>
                A leading and pioneering in the digital economic development and
                digital society of the state of Terengganu.
              </p>
              <hr class="h-2" />
            </div>
            <div class="mission-subcontent-1">
              <h2>Mission</h2>
              <p>
                Driving the digital economic growth and digital society of the
                state of Terengganu through smart digital transformation and
                innovation.
              </p>
              <hr class="h-2" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--services-->
    <div class="content-1-bg">
      <div class="services">
        <div class="services-main">
          <h1>Services</h1>
          <hr class="h" />
          <p>
            Explore a range of solutions designed to meet your needs
            effortlessly
          </p>
        </div>
      </div>

      <div class="row-1">
        <div class="stepbox">
          <div class="grid">
            <div class="stepbox-image">
              <img src="./assets/img/socialMediaAnalytics-icon.png" />
            </div>
            <div class="stepbox-title">
              <h2>Social Media Sentiment Analytics</h2>
            </div>
          </div>
          <div class="button-1">
            <button routerLink="social-media-sentiment-analytics">
              Learn More<i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="stepbox">
          <div class="grid">
            <div class="stepbox-image">
              <img src="./assets/img/nfcCard-icon.png" />
            </div>
            <div class="stepbox-title">
              <h2>NFC Business Card</h2>
            </div>
          </div>
          <div class="button-1">
            <button routerLink="nfcCard">
              Learn More<i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="stepbox">
          <div class="grid">
            <div class="stepbox-image">
              <img src="./assets/img/faceRecognition-icon.png" />
            </div>
            <div class="stepbox-title">
              <h2>Face Recognition Attendance System</h2>
            </div>
          </div>
          <div class="button-1">
            <button routerLink="face-recognition">
              Learn More<i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="stepbox">
          <div class="grid">
            <div class="stepbox-image">
              <img src="./assets/img/icon 5.png" />
            </div>
            <div class="stepbox-title">
              <h2>Islamic Digital Leadership Development Training</h2>
            </div>
          </div>
          <div class="button-1">
            <button routerLink="islamic-digital">
              Learn More<i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
