<div class="unknown"></div>

<div class="news">
  <div class="container">
    <div class="header">
      <h1>
        Kunjungan Hormat Yang Berusaha Hj. Mohd Nurkhuzaini bin Ab. Rahman ke
        TAJDID Corp. Sdn Bhd
      </h1>
      <p>by admin | Sep 6, 2023</p>
    </div>

    <div class="content-2">
      <p>
        Kuala Terengganu, 4 September 2023 – Yang Berusaha Hj. Mohd Nurkhuzaini
        bin Ab. Rahman, Exco Ekonomi Digital, Pendapatan Baharu, Perdagangan,
        Perindustrian dan Teknologi Hijau telah menjalankan kunjungan hormat ke
        TAJDID Corporation Sdn Bhd. dan disambut oleh Pengarah Eksekutif TAJDID,
        En Azih b. Yusof.
      </p>
    </div>

    <div class="content-1">
      <div class="image-1">
        <img src="./assets/img/Picture1.jpg" />
      </div>
    </div>
    <div class="content-2">
      <p>
        Selama kunjungan hormat ini, YB Hj. Mohd Nurkhuzaini bin Ab. Rahman
        telah membincangkan perkara-perkara berkaitan gerak kerja, hala tuju dan
        potensi perniagaan yang boleh dicapai oleh TAJDID Corporation.
      </p>
      <p>
        Kunjungan hormat ini merupakan satu sebagai langkah positif bagi
        mencapai matlamat PITAS 2030 dan membuka peluang-peluang baru kerjasama
        masa depan.
      </p>
    </div>

    <div class="img-container">
      <div class="image-2">
        <img src="./assets/img/Picture8.jpg" />
      </div>
      <div class="image-2">
        <img src="./assets/img/Picture9.jpg" />
      </div>
    </div>
  </div>

  <!-- sidebar -->
  <div class="other_news">
    <app-sidebar></app-sidebar>
  </div>
</div>
