<div class="unknown"></div>

<div class="news">
  <div class="container">
    <div class="header">
      <h1>
        Pelan Induk Kerajaan Digital Pintar Terengganu & Pelan Strategik Taman
        Maya Al Terengganu
      </h1>
      <h3>by admin | May 29, 2021</h3>
    </div>
    <div class="content-1">
      <img src="./assets/img/Picture4.jpg" />
      <h2>Terengganu lancar pelan induk bangun masyarakat digital</h2>
    </div>
    <div class="content-2">
      <p>
        KUALA TERENGGANU – Kerajaan Terengganu hari ini melancarkan Pelan Induk
        Kerajaan Digital Pintar Terengganu, salah satu pemboleh daya Pelan Induk
        Terengganu Sejahtera (PITAS2030) sebagai persediaan memasuki era
        Revolusi Industri 4.0 (IR 4.0).
      </p>
      <p>
        Exco Pelancongan, Kebudayaan dan Teknologi Digital, Ariffin Deraman
        berkata, visi pelan tersebut adalah untuk menjadikan negeri Terengganu
        model kerajaan digital pintar yang mampan bagi membangun masyarakat
        digital lestari.
      </p>
      <p>
        Menurutnya, Pelan Induk Kerajaan Digital Pintar Terengganu yang
        diluluskan peruntukan sebanyak RM3 juta itu juga bakal menyemarakkan
        pertumbuhan ekonomi negeri yang berdaya saing berteraskan inovasi
        digital menjelang tahun 2030.
      </p>
      <p>
        “Bagi menggerakkan pelan ini, kerajaan negeri telah menubuhkan
        Terengganu Advance Joint Digital Intelligent Development Corporation
        (TAJDID Corporation Sdn Bhd) yang akan memberi tumpuan kepada agenda
        pendigitalan negeri ini dan Taman Maya AI,” katanya.
      </p>
      <p>
        Beliau berkata demikian pada Majlis Pelancaran Pelan Induk Kerajaan
        Digital Pintar Terengganu & Pelan Strategik Taman Maya Al Terengganu
        yang disempurnakan Menteri Besar, Datuk Seri Dr Ahmad Samsuri Mokhtar di
        Dewan Besar Wisma Darul Iman di sini hari ini.
      </p>
      <p>
        Ariffin berkata, pelan tersebut akan mewujudkan pelbagai produk digital
        namun pandemik koronavirus (Covid-19) yang melanda negara ketika ini
        menyebabkan projek berjalan agak perlahan dengan hanya dua produk
        berjaya dihasilkan setakat ini.
      </p>
      <p>
        Projek pertama katanya, adalah Masjid Pintar dan Masjid Pengadang Baru,
        di sini menjadi perintis dengan dilengkapi Sistem Kamera Litar Tertutup
        (CCTV) berteknologi tinggi yang mampu menentukan jantina dan jumlah
        jemaah masjid dalam satu-satu masa.
      </p>
      <p>
        “Dengan CCTV ini, wajah dipaparkan juga lebih jelas dan ini bermakna ia
        mampu mengecam wajah penjenayah bila berlaku kecurian di masjid selain
        memberi amaran kecemasan secara terus kepada imam dan bilal.
      </p>
      <p>
        “Projek kedua adalah Lampu Isyarat Pintar yang akan kita bangunkan pada
        bulan depan di lampu isyarat Kuala Ibai berhampiran Masjid Terapung
        dengan kos sekitar RM100,000 dan kita sudah dapat kelulusan JKR (Jabatan
        Kerja Raya).
      </p>
      <p>
        “Lampu Isyarat Pintar ini berfungsi dengan CCTV berteknologi tinggi yang
        dipasang sebagai contohnya bila ada ambulans datang dengan bunyi siren
        itu lampu isyarat lain akan bertukar merah untuk beri laluan kepadanya.
      </p>
      <p>
        “Ia juga dapat mengira jumlah kenderaan yang lalu lengkap dengan tarikh
        dan masa selain mampu mengesan kenderaan curi,” katanya.
      </p>
    </div>

    <div class="content-3">
      <p>IHSAN SINAR HARIAN</p>
      <p>RAHAYU MUSTAFA | | 28 Oktober 2020</p>
      <div class="button-1">
        <a
          href="https://www.sinarharian.com.my/article/107406/EDISI/Terengganu/Terengganu-lancar-pelan-induk-bangun-masyarakat-digital"
          target="_blank"
          >Read full article<i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="other_news">
    <app-sidebar></app-sidebar>
  </div>
</div>
